# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.classpath                      text
*.css                            text
*.htm                            text
*.html                           text
*.ini                            text
*.java                           text
*.js                             text
*.json                           text
*.jsp                            text
*.jspf                           text
*.LICENSE                        text
*.md                             text
*.mediawiki                      text
*.MF                             text
*.project                        text
*.properties                     text
*.sh                             text
*.svg                            text
*.test                           text
*.tsv                            text
*.txt                            text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.bmp           binary
*.class         binary
*.dll           binary
*.ear           binary
*.gif           binary
*.ico           binary
*.jar           binary
*.jpg           binary
*.jpeg          binary
*.pdf           binary
*.png           binary
*.so            binary
*.war           binary

